<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chatbot-ineuron</title>
    <link rel="stylesheet" href="./css/chatbot.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
</head>
<body>
    <div class="chat">
        <div class="chat-head">
            <div class="chat-title">
             ineuron-chatbot
            </div>
            <div class="top-box">
                <div class="boxitem">
                    <div class="bot-name">
                       iNeuron
                    </div>
                    <div class="message" id="message-1">
                       <p></p>
                    </div>
                </div>
                <div class="boxitem">
                    <div class="bot-name">
                       iNeuron
                    </div>
                    <div class="message" id="message-2">
                       <p></p>
                    </div>
                </div>
                <br><br>
                <div class="boxitem right">
                    <div class="message 2" id="message-3">
                       <p></p>
                    </div>
                </div>
                <div class="boxitem">
                    <div class="message" id="message-4">
                       <p></p>
                    </div>
                </div>
            </div>
        </div>

      <form action="">
        <input type="text" name="" id="chat-input" placeholder="send your query...">
        <button class="chat-send" type="submit">send</button>
      </form>
    </div>
    {{!-- <script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script> --}}
    <script type="module" src="../js/index.js"></script>
    <script src="../js/index.js"></script>
</body>
</html>