@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,500&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url(../image/chatbot.png);
    background-size: 100%;
}

.chat-head{
    margin-top: 25%;
    width:400px;
    border-radius: 1px solid black ;
}
.chat-title{
    background-color:#0e2a43 ; 
    color: white;
    padding: 2%;
    border-radius: 5px 5px 0 0 ;
    text-align: center;
}
.boxitem{
    align-items: flex-start;
}
.boxitem{
    float:left;
}

.top-box{
    border: 1px solid #efefef;
    padding: 10px 15px;
    background-color: whitesmoke;
    height: 500px;
}
 .message{
    width: 200px;
}
.bot-name{
    text-align: center;
    width: 100px;
    color: white;
    border-radius: 5%;
    background-color: yellowgreen;
}
.boxitem.right{
    margin-top: 2%;
    float: right;
    background-color: white;
    padding-left: 5px;
    border: 10px  grey ;
}

form{
width:400px;
background-color: white;
display: flex;
}
form input{
    flex: 1;
    width: 300px;
    height: 30px;
    border: none;
    outline: none;
    padding-left: 5px;
}
form button{
    margin-left: 0;
    padding-left: 0;
    width: 95px;
    height:30px ;
}