*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
 background-image: url(../image/grpbg1.png);
    background-size: 100vw;
    background-repeat: no-repeat;
    font-family: 'Satoshi', sans-serif;
}
.top{
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
  }
  nav{
    display: flex;
    justify-content: space-between;
    padding: 2% 6%;
    align-content: center;
  }
  .title a{
    text-decoration: none;
    color: white;
    font-size: 20px;
  }
  .navlinks{
    flex: 1;
    text-align:right;
  }
  .navlinks ul li{
    list-style: none;
    display:inline-block;
    padding:8px 12px;
    position:relative;
  }
  .navlinks ul li a{
  color: white;
  font-size: 13px;
  text-decoration: none;
  font-style: oblique;
  }
  .navlinks ul li ::after{
    content: '';
    width:0;
    height:2px;
    background: #23D635;
    display: block;
    margin:auto;
    transition: 0.5s;
  }
  .navlinks ul li :hover::after{
    width:100%;
  }
  .container{
    margin-left: 20%;
    flex-wrap: wrap; 
    justify-content: space-around;
  }
  .col1{
    color: whitesmoke;
    flex-basis: 50%;
    width:50% ;
    margin-top: 4%;
  }
  .col1 h1{
    font-size: 30px;
  }
  .q{
    font-size:33px ;
    font-weight: bold;
    color:#23D635;
  }
  .col1 button{
    margin-top: 20px;
    width: 120px;
    height: 30px;
    border: none;
    border-radius: 5px;
  }
  button a{
    text-decoration: none;
    color: black;
  }
  .footer{
    margin-left: 5%;
    margin-top: 25%;
  }
  .btn{
     margin-left: 30%;
  }
  .btn button a{
    text-decoration: none;
    color: #011294;
  }
  .footer button{
width: 103px;
height: 25px;
border-radius: 5px;
font-family: 'Satoshi Variable';
font-style: normal;
font-weight: 700;
font-size: 17px;
border: 1px solid #011294;
color: #011294;
}
  .line1{
     margin-left: 17%;
     font-weight: bold;
  }
  .line2{
  margin-left: 5%; 
  position: absolute;
width:40%;
height: 112px;
font-family: 'Satoshi Variable';
font-style: normal;
font-weight: 300;
font-size: 15px;
text-align: center;
color: #011294;
}